@use '../base' as *;


.footer-baner {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 0, 102, 0.5) 0%, rgba(255, 63, 71, 0) 40.83%, #FF6634 65.83%);
    z-index: 1;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__content {
    padding: 48px 0 64px;
    position: relative;
    z-index: 5;
    color: #fff;
  }

  &__title {
    margin: 0;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: clamp(116px, 10vw, 170px);
    line-height: 1.25;
  }

  &__tags {
    margin-bottom: 56px;
    display: flex;
    gap: 35px;

    @include to-sm {
      flex-direction: column;
      gap: 8px;
    }

    &__item {
      display: flex;
      align-items: center;
      font-size: 20px;
      text-transform: uppercase;

      @include sm {
        &:not(:last-child) {
          &::after {
            margin-left: 35px;
            display: block;
            content: url('../img/tag-separator.svg');
          }
        }
      }
    }
  }

  &__text {
    margin-top: 56px;
  }
}