@use '../../node_modules/tiny-slider/dist/tiny-slider.css';
@use '../../node_modules/glightbox/dist/css/glightbox.css';
@use '../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';
// @use '../../node_modules/@splidejs/splide/dist/css/splide.min.css';

@use 'base';
@use 'components';
@use 'layout';
@use 'sections';
@use 'pages';