@use '../base' as *;

.h-hero {
  position: relative;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container {
    position: relative;
  }

  &__content {
    padding: 32px 0 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    width: min(780px, 100%);
    color: #F6F6F6; 

    @include lg {
      min-height: 700px;
    }
  }

  &__subtitle {
    margin-bottom: 32px !important;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__title {
    margin-bottom: 24px;
    text-transform: uppercase;

    @include lg {
      margin-bottom: 48px;
    }

    @include to-lg {
      margin-top: 48px;
    }
  }
}




.h-about {
  .container {
    @include lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 24px;
    }
  }

  &__content {
    padding: 64px 0 24px;
    
    @include lg {
      padding: 80px 0;
    }
  }

  &__title {
    margin-bottom: 40px;

    font-weight: 400;
  }

  &__image {
    display: block;
    justify-self: end;
  }
}


.h-program {
  padding: 64px 0 48px;

  @include lg {
    padding: 100px 0 64px;
  }

 .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;

    @include lg {
      display: grid;
      grid-template-columns: 361px auto;
      align-items: center;
      gap: 84px;
    }
  }

  &__subtitle {
    font-weight: 600;
  }

  &__title {
    font-size: clamp(34px,3vw,50px);
    
    @include sm {
      margin-bottom: 12px;
    }
  }

  &__titles {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    & > div {
      color: $color-primary;
    }

    & > div:nth-child(odd) {
      color: $color-secondary;
    }
    
    p {
      font-weight: 600;
    }
  }

  .button {
    margin-top: 32px;
  }
}





.h-logos {
  margin: 32px 0;
  
  @include lg {
    margin: 56px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
    @include lg {
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;

    @include lg {
      flex: 1;
    }

    img {
      max-height: 100%;
    }
  }
}