@use '../base' as *;

.prelegents {
  margin: 56px 0;

  .container {
    display: grid;
    gap: 1.5rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}



.prelegent-teaser {
  padding: 16px;
  border: 1px solid #E1E0E0;
  overflow: hidden;
  background-color: #fff;
  transition: 0.3s ease;
  text-align: center;

  &:hover {
    border-color: #000;
    box-shadow: 0px 12px 28px 0px #0000001F;
  }

  &__image {
    width: 100%;
    background-image: url('../img/joy.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include md {
      height: 380px;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  &__meta {
    padding: 24px 16px 8px;
  }

  &__name {
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.05;
  }

  &__spec {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
  }
}




.prelegent {
  margin: 56px 0;

  .container {
    @include lg {
      display: grid;
      grid-template-columns: 420px auto;
      gap: 98px;
    }
  }

  &__image {
    margin-bottom: 32px;
    border: 1px solid #E1E0E0;
    width: clamp(300px, 100%, 420px);
    background-image: url('../img/joy.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  &__content {
    article {
      @include lg {
        margin-bottom: 48px;
      }
    }
  }
}

.prelegent-event {
  margin-top: 24px;
  background: #fff;
  box-shadow: 0px 18px 20px 0px #0000000F;
  padding: 24px 24px;
  
  @include md {
    display: flex;
    align-items: center;
    padding: 32px 36px;
  }

  &__date {
    padding: 8px 0;
    color: $color-secondary;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    
    @include md {
      justify-content: center;
      align-items: center;
      padding-right: 42px;
      margin-right: 42px;
      border-right: 1px solid #00000024;
    }

    strong {
      font-weight: 600;
      font-size: 44px;
      line-height: 1;
      color: #000;
    }
  }

  &__info {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
  }
}