@use '../base' as *;

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea {
    margin-top: 8px;
    width: 100%;
    height: 54px;
    display: block;
    padding: 11px;
    border: 0;
    border-radius: 0 !important;
    border: 1px solid #000;
    background: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: $font-primary;
    color: $color-text !important;

    @include lg {
      font-size: 20px;
    }

    &::placeholder {
      opacity: 0.4;
    }
  }

  textarea {
    height: 180px;
    width: 100%;
    resize: vertical;
  }

  label {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2%;
    text-transform: uppercase;
    width: 100%;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/chevron-down.svg');
    background-position: calc(100% - 15px) center;
    background-size: 24px;
    background-repeat: no-repeat;
  }
}

.wpcf7-acceptance {
  .wpcf7-list-item {
    margin-left: 0;

    label {
      display: grid;
      grid-template-columns: 24px auto;
      align-items: start;
      gap: 8px;

      input {
        margin-top: 4px;
        width: max-content;
      }

      .wpcf7-list-item-label {
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0;
        text-transform: initial;

        @include lg {
          font-size: 14px;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

.wpcf7-form-control-wrap {
  width: 100%;
}
.wpcf7-checkbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  @include lg {
    gap: 14px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .wpcf7-list-item {
    margin: 0;

    label {
      position: relative;
      display: block;
      padding-left: 32px;

      .wpcf7-list-item-label {
        display: block;
        cursor: pointer;
        
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          border: 1px solid $color-text;
          transition: .3s;
        }

        &::after {
          content: '';
          position: absolute;
          left: 1px;
          top: 1px;
          width: 20px;
          height: 20px;
          background-image: url('../img/check.svg');
          background-position: center;
          background-repeat: no-repeat;
          transition: .3s;
          opacity: 0;
        }
      }

      input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;

        &:checked {
          & + .wpcf7-list-item-label {
            &::before {
              background: $color-text;
            }
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}


.form-duo {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  
  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}


.wpcf7-form  {
  .wpcf7-response-output {
    width: 100%;
    margin: 0 !important;
    padding: 12px 16px !important;
    border-color: #000 !important;
    border-width: 2px !important;
    font-size: 14px !important;
  }

  &.invalid {
    .wpcf7-response-output {
      border-color: #ff0000 !important;
    }
  }

  &.sent {
    .wpcf7-response-output {
      border-color: #2ec500 !important;
    }
  }

  &.submitting {
    .button[type="submit"] {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}



.codedropz-upload-wrapper {
  .codedropz-upload-inner {
    font-size: 16px;

    h5 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    .cd-upload-btn {
      font-size: 16px;
    }
  }

  .dnd-upload-details {
    .name {
      font-size: 14px;
      color: #000;

      em {
        font-weight: 500;
      }
    }
  }
}
