@use '../base' as *;

.heading {
  margin: 0;
  font-weight: 700;
  font-size: clamp(36px, 5vw, 50px);
  line-height: 1.11;

  // br {
  //   @include to-md {
  //     display: none;
  //   }
  // }

  // &--m {
  //   font-size: clamp(32px, 4vw, 48px);
  // }

  // &--s {
  //   font-size: clamp(24px, 3vw, 32px);
  // }

  &--l {
    font-size: clamp(36px, 5vw, 64px);
  }
}


// .subheading {
//   margin: 0 0 16px;
//   border: 1px solid $color-text;
//   border-radius: 48px;
//   padding: 8px 16px;
//   font-size: 14px;
//   font-weight: 600;
//   letter-spacing: 2%;
//   color: $color-text;
//   text-transform: uppercase;
//   display: inline-block;

//   &--white {
//     border-color: #fff;
//     color: #fff;
//   }
// }