@use '../base' as *;

.loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  // display: flex;
  align-items: center;
  justify-content: center;
  
  &__logo {
    display: block;
    filter: invert(1);
    transform-origin: center center;
    opacity: 0;
    width: 240px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    transform-origin: top;
    z-index: -1;
  }
}
