@use '../base' as *;

.masonry-wrapper {
  width: 100%;
}

.masonry {
  position: relative;
}

.masonry-item {
  position: relative;
  width: 100%;
  height: auto;

  @include sm {
    position: absolute;
    overflow: hidden;
    padding-bottom: 20px;
  }

  &--without-meta {
    padding-bottom: 0;

    @include to-sm {
      margin-bottom: 24px;
    }
  }

  img, video {
    height: calc(100% - 24px);
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
    display: block;

    &.overlay {
      filter: brightness(95%);
    }
  }

  &__play-button {
    position: absolute;
    z-index: 10;
    top: calc(50% - 71px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    color: #fff;
    cursor: pointer;
    transition: .3s;

    path {
      stroke-width: 1px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &__button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;

    @include to-lg {
      right: 16px;
      top: 16px;
      padding: 8px 16px;

      &::before, &::after {
        font-size: 12px;
      }
    }
  }

  &__meta {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    h3, p {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 2%;
      text-transform: uppercase;
      color: #000;
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;

    @include to-sm {
      padding: 24px 0 32px;
    }

    p {
      color: #000;
    }

    em {
      font-style: inherit;
      font-weight: 500;
      line-height: 1;
      font-size: clamp(26px, 2.5vw, 38px);
    }

    &--small {
      em {
        font-size: clamp(22px, 2.5vw, 28px);
      }
    }

    &--big {
      em {
        font-size: clamp(28px, 3vw, 48px);
      }
    }
  }

  &--small {
    img {
      @include lg {
        height: auto;
        object-fit: contain;
      }
    }
  }
}

.fullwidth {
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.breakout {
  width: 100%;
  margin: 20px 0;
  position: relative;
  height: 400px;
}